body {
	font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.left-bar {
	position: fixed;
	width: 35vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: #2F80ED;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.title {
		font-size: 36px;
		font-weight: bolder;
		text-align: center;
		color: white;
		padding-bottom: 40px;
		margin-top: -60px;
	}
	.desc {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		max-width: 450px;
		color: white;
	}
	.nav {
		position: absolute;
		bottom: 30px;
		left: 0;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			font-size: 50px;
			padding: 20px;
			color: white;
			cursor: pointer;
			transition: transform 100ms ease-in-out;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}
.body {
	width: calc(100vw - 35vw - 50px);
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	.copyright {
		text-align: center;
		color: #333;
	}
}
@media (max-width: 1200px) {
	.left-bar {
		position: absolute;
		width: 100vw;
	}
	.body {
		top: 100vh;
		left: 0;
		width: calc(100vw - 100px);
		margin: 50px;
	}
}
